html{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(160deg, #050816 50% , #0e7490 50%);
    height: 100vh;
    font-family: arial;
    
}


.card{
    padding: 5px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: none;
    width: 300px;
    height: 340px;
    color: #ffffff;

    text-align: center;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    
}

.input .email{
    margin: 10px;
}

.input a{
    text-align: left;
}


.input-group{
    margin-bottom: 16px;
    text-align: left;
}
.input-group input{
    width: 100%;
    padding: 12px 16px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgb(255, 255, 255, 0.12);
    outline: none;
    color: ffffff;
    font-size: 0.95rem;
    box-sizing: border-box;
    transition: all 0.3s ease;

}
.input-group::placeholder{
    color: rgba(255, 255, 255, 0.6);
}

.input-group:focus{
    border-color: #38bdf8;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px rgba(56, 189, 248, 0.3);
}


.forget-pass {
    text-align: right;
    margin: 1px 0px;
    cursor: pointer;
    padding-bottom: 10px;
    color:rgba(255, 255, 255, 0.75);
    font-size: 0.82rem;
    text-decoration: none;
    transition: color 0.3s ease;
}

.forget-pass :hover{
    color:#38bdf8;
    text-decoration: underline;
}
.login button{
    
    color: #0f172a;
    height: 35px;
    width: 80px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    margin-top: 15px;
    background: #38bdf8;
    transition: all 0.3s ease;
    font-size: 1rem;
    border: none;


}
a:hover{
    color: #fff;
}
.login button:hover{
    background: #7dd3fc;
    box-shadow: 0 0 15px rgba(56, 189, 248, 0.5);
    transform: translate(-2px);
}

